


        <tr><td style="width: '50px';"><button class="btn btn-link" (click)="marcar_mostra()">[*]</button></td>
          <td *ngFor="let p of padre" style="width: '200px';">{{p}}</td>
          <td style="width: '50px';"><button type="button" class="btn btn-link" (click)="mensage(padre)">[x]</button></td>
        </tr>


    <div *ngIf="mostra" style="padding-left: 25px; width: max-content;">
        <p>{{ next }}
          <a routerLink="/{{next}}/{{ref}}" target="_new">[T]</a>
        </p>
        <table class="table table-bordered table-sm" style="width: '100%';">
          <thead  class="thead-dark">
            <tr><th><button class="btn btn-link btn-sm" (click)="marcar_nuevo()">[[+]]</button></th>
            <th *ngFor="let c of cabecera">{{c}}</th>
            <th>&nbsp;</th>
            </tr>
            <tr *ngFor="let res of hijo">
              <td> <button type="button" class="btn btn-link btn-sm" (click) = "activa_recursivo(res[0], this.Tablas[next].next)">-[*]-</button>
              </td>
              <td *ngFor="let r of res">{{ r }}</td>
              <button class="btn btn-link btn-sm" (click)="modifica(res)">[x]</button>
            </tr>
          </thead>
      </table>

            <!--span *ngFor="let h of hijo">
                  <br>
                  <button type="button" class="btn btn-link btn-sm" (click) = "activa_recursivo(h.id, this.Tablas[next]['next'])">[*]</button>

                  <button class="btn btn-link btn-sm" (click)="modifica(h)">[x]</button>


            </span-->
            <template #messagecontainer></template>
    </div>

    <div *ngIf="nuevo" style="padding-left: 20px; padding-right: 20px; width: max-content;">
    <br>

    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">

        <div *ngIf="back">
        <div *ngFor="let b of back | keyvalue">
        <p><b>{{b['key']}}-></b>
        <select formControlName="{{b['key']}}">
          <option [ngValue]="null" disabled>&nbsp;</option>
          <option *ngFor="let s of seleccion[b['key']]"
          [ngValue]="s['id']">{{s['nombre']}}</option>
        </select>
        </p>
        </div>
      </div>
      <!--
        <p>padre : {{padre | json}}</p>
        <p>hijo :  {{hijo | json}}</p>
      -->
        <table  class="table table-bordered table-sm">
          <thead  class="thead-dark">
          <tr *ngFor="let c of compon | keyvalue">
           <th *ngIf="c['value'] != 'hidden'">{{c['key']}} -></th>
           <td *ngIf="c['value'] != 'hidden'"><input type="{{c['value']}}" formControlName="{{c['key']}}"/></td>
          </tr>
          </thead>
        </table>

        <hr>
        <span>
          <table  class="table table-bordered table-sm"><tr><td>
           <button *ngIf="!editTable" class="btn btn-info btn-sm" type="submit"
           [disabled]="!listForm.valid">(Agregar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Update()">(Editar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Borrar()">(Borrar)</button>&nbsp;
           </td>
           <td>
           <button class="btn btn-info btn-sm" type="button"
           (click)="cerrar()">(Cerrar)</button>
           </td>
           </tr>
          </table>
        </span>
        <hr>

    </form>

    </div>
