
  <div>

    <button class="btn btn-link" (click)="marcar_mostra()">[*]</button>

    {{padre | json}}

    <button type="button" class="btn btn-link" (click)="mensage(padre)">[x]</button>


    <div *ngIf="mostra" style="padding-left: 25px;">
        <h4>{{ next }}  <button type="button" class="btn btn-link btn-sm"
          (click)="marca_next()">[T]</button></h4>

        <button class="btn btn-link btn-sm" (click)="marcar_nuevo()">[+]</button>

            <span *ngFor="let h of hijo">
                  <br>
                  <button type="button" class="btn btn-link btn-sm" (click) = "activa_recursivo(h.id, this.Tablas[next]['next'])">[*]</button>
                  {{h | json}}
                  <button class="btn btn-link btn-sm" (click)="modifica(h)">[x]</button>


            </span>
            <template #messagecontainer></template>
    </div>

    <div *ngIf="nuevo" style="padding-left: 20px; padding-right: 20px; ">
    <br>

    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">

        <div *ngIf="back">
        <div *ngFor="let b of back | keyvalue">
        <p><b>{{b['key']}}-></b>
        <select formControlName="{{b['key']}}">
          <option [ngValue]="null" disabled>&nbsp;</option>
          <option *ngFor="let s of seleccion[b['key']]"
          [ngValue]="s['id']">{{s['nombre']}}</option>
        </select>
        </p>
        </div>
      </div>
      <!--
        <p>padre : {{padre | json}}</p>
        <p>hijo :  {{hijo | json}}</p>
      -->
        <table>
          <tr *ngFor="let c of compon | keyvalue"><th>{{c['key']}} -></th>
           <td><input type="{{c['value']}}" formControlName="{{c['key']}}"/></td>
          </tr>
        </table>

        <hr>
        <span>
          <table width="70%"><tr><td>
           <button *ngIf="!editTable" class="btn btn-info btn-sm" type="submit"
           [disabled]="!listForm.valid">(Agregar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Update(hijo[0].id)">(Editar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Borrar(hijo[0].id)">(Borrar)</button>&nbsp;
           </td>
           <td>
           <button class="btn btn-info btn-sm" type="button"
           (click)="cerrar()">(Cerrar)</button>
           </td>
           </tr>
          </table>
        </span>
        <hr>

    </form>

    </div>

</div>
