
  <div>

    <button class="btn btn-link" (click)="marcar_mostra()">marca_mostra_detail[*]</button>

    {{padre | json}}

    <button class="btn btn-link" (click)="mensage(padre)">mensaje_detail[x]</button>


    <div *ngIf="mostra" style="padding-left: 25px;">
        <h4>{{ next }}</h4>

        <button class="btn btn-link btn-sm" (click)="marcar_nuevo()">marca_nuevo_detail[+]</button>

            <span *ngFor="let h of hijo; index as Id">
                  <br>
                  <button type="button" class="btn btn-link btn-sm" (click) = "activa_recursivo(h.id, this.Tablas[next]['next'])">recursivo_detalle[*][{{h.id}}|{{this.Tablas[next]['next']}}]</button>
                  {{h | json}}
                  <button class="btn btn-link btn-sm" (click)="modifica(h, h.id)">modifica_detalle[x]</button>

                <template #messagecontainer></template>
            </span>

    </div>

    <div *ngIf="nuevo" style="padding-left: 20px; padding-right: 20px; ">
    <br>
    <form [formGroup]="listForm" (ngSubmit)="onSubmit()">

        <div *ngIf="back">
        <div *ngFor="let b of back">
        <p><b>{{b}}-></b>
        <select id="{{b}}">
          <option value="0">&nbsp;</option>
          <option *ngFor="let s of seleccion[b]"  [ngValue]="s['id']">{{s['nombre']}}</option>
        </select>
        </p>
        </div>
      </div>

        <table>
          <tr *ngFor="let c of components"><th>{{c[1]}} -></th><td><input type="{{c[0]}}" formControlName="{{c[1]}}"/></td></tr>

        </table>
        <hr>
        <span>
          <table width="70%"><tr><td>
           <button *ngIf="!editTable" class="btn btn-info btn-sm" type="submit"
           [disabled]="!listForm.valid">(Agregar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Update()">(Editar)</button>
           </td>
           <td>
           <button *ngIf="editTable" class="btn btn-info btn-sm" type="button"
           [disabled]="!listForm.valid" (click)="Borrar()">(Borrar)</button>&nbsp;
           </td>
           <td>
           <button class="btn btn-info btn-sm" type="button"
           (click)="cerrar()">(Cerrar)</button>
           </td>
           </tr>
          </table>
        </span>
        <hr>

    </form>
    </div>

</div>
